*{
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #fbfef9;
  --text-color: #112d49;
  --item-bg: #ffffff;
  --border-color: #555;
}

[data-theme='dark'] {
  --bg-color: #1e1e1e;
  --text-color: #ffffff;
  --item-bg: #2c2c2c;
  --border-color: #888;
}

body {
    font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 
    'Helvetica Neue', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
  }


